
<!-- <p-menubar [model]="items">
    <div>
        <input type="text" pInputText placeholder="Search">
        <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
    </div>
</p-menubar> -->
<div class="ui-fluid p-d-flex p-shadow-1 nav p-jc-end">
    <button pButton pRipple type="button" label="פתיחת קבוצה חדשה" class="p-button-primery p-button-text" routerLink="**">  </button>
    <button pButton pRipple type="button" label="כניסה למנהל קבוצה" class="p-button-primery p-button-text" routerLink="**">  </button>
    <button pButton pRipple type="button" label="כניסה לחבר בקבוצה" class="p-button-primery p-button-text" routerLink="**">  </button>
    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info button p-m-2"></button>
    </div>
<!-- <app-mail></app-mail> -->
<router-outlet></router-outlet>