
<p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="הוספת חבר בקבוצה"></p-button>
<p-dialog header="הכנס פרטי חבר בקבוצה" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addparent()" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
    <div class="p-text-right">
        <div class="p-field p-text-right p-d-flex p-flex-column">
        <label class="p-mb-2" for="name_m">הכנס שם משתמש</label>
        <input class="p-mb-2" id="name_m" type="text" pInputText [(ngModel)]="p.name_parent" name=f>
    </div>
    <div class="p-field p-text-right p-d-flex p-flex-column">
        <label class="p-mb-2" for="_m">אימייל</label>
        <input class="p-mb-2" id="_m" type="email" pInputText [(ngModel)]="p.email_parent" name=p>
    </div>
    <div class="p-field p-text-right p-d-flex p-flex-column">
        <label class="p-mb-2" for="tel_m">מספר פלאפון</label>
        <input class="p-mb-2" id="tel_m" type="tel" pInputText [(ngModel)]="p.phone_number" name=k>
    </div>
  
